.bg-black {
  color:black;
}

.bg-red{
  color:red;
}

.bg-white {
  color:black;
}

.bg-green {
  color:green;
}

.bg-blue {
  color:blue;
}

.bg-brown{
  color:brown;
}

.fa-star, .fa-star-o {
  color:yellow;
}